/*design for text menu  */
.shop_header_area .navbar .navbar-nav .textsiz {
    font-size: 10px;
    margin-top: 250px;
    padding-top: 350px;
    color: rgb(100, 100, 214);
  }
#maindiv {
    border: 1px solid black;
    margin-left: 10%;
    min-height: 500px;
    margin-right: 10%;
    margin-bottom: 100px;
    margin-top: 20px;

}

/* login form */
#rgsfrmzab {
    display: none;
}
#registerdiv {
    margin-bottom: 15%;
    margin-top: 0%;
    padding-bottom: 20px;
}
.registerhover:hover {
    background-color:blue;
    color: white;
    opacity: 0.5;
    pointer-events: stroke;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    overflow: hidden;

}
#registerhover:hover {
    background-color:blue;
    color: white;
    opacity: 0.5;
    pointer-events: stroke;
    padding: 2px 2px 2px 2px;
    border-radius: 20px;
    overflow: hidden;

}
#forgotpswd {
    float: right;
}

#nameusername {
    padding: 10px 15px 10px 15px;
    margin: 10px 5px 20px 20px;
    width:100%;
    min-block-size: 40%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 5px;
    border: 1px solid black;
    text-shadow: gainsboro;
    opacity: 0.8;
    box-shadow: grey;
    
}
#nameusername:focus {
    background-color: azure;
    border-color:blue;
    opacity: 0.7;
box-shadow: #9c9292;
}
#btnh1 {
 width: 100%;
 min-block-size: 40%;
 height: 6%;
 background-color: #f5e4e4;
 margin-left: 0%;
 margin-right: 0%;
 padding: 10px 15px 10px 15px;
 border-radius: 10px;
 text-align: center;

 
}
#loginbtn {
    padding: 10px 15px 10px 15px;
    width: auto;
    text-align: center;
    height: auto;
    background-color: blue;
    color: white;
    border-radius: 10px;
    overflow:visible;  
}
#loginbtn:hover {
    color: white;
    lighting-color: seashell;
    opacity: 0.5;
}

#maindiv12 {
    border: 1px solid #9c9292 azure;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    margin-top: 3%;
    background-color: #f8f5f5;
    text-align: center;
}
.footer_area {
    margin-top: 10%;
}

  

/* back to index page */
#icoback li{
    display: inline;
    padding: 10px;
}
/* end it  */



button {
    margin-top: 10px;
}
.cls45 {
    background-color: rgba(240, 238, 238, 0.945);
    width: 95%;
    font-size: 18px;
    text-align: left;
    color:rgb(69, 69, 211);
    padding-top: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;

}

#bttn45:hover {
    color: red;
    text-decoration: underline;
}
#btn {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 50%
}
#frm {
     
    display: none;
    margin-top:20px;
    top: 200px;
    min-height: 200px;
    background-color:white;
    margin-left: 40px;
}
#frm  input {
  width: 80%;
  padding: 10px;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px solid black;
  background-color:white;
}

#frm  select {
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:white;
  }
  #frm  label {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
  }

 /* start of change email design */
 #chng1 {
    background-color: black;
    color: white;
}
 
  #bttn46:hover {
    color: red;
    text-decoration: underline;
}

  #frm22 {   
    display: none;
    margin-top:20px;
    top: 200px;
    min-height: 300px;
    background-color:white;
    margin-left: 40px;
}
#frm22  input {
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;
  }
  #frm22  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
#eml,#res {
    background-color: silver;
}
/* end of change email */

/* strt of change password */
  #bttn47:hover {
    color: red;
    text-decoration: underline;
}

#frm33 {   
    display: none;
    margin-top:20px;
    top: 200px;
    min-height: 300px;
    background-color:white;
    margin-left: 40px;
}

#frm33  input {
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;

  }

  #frm33  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#pswd {
    background-color: silver;
}

#chng2 {
    background-color: black;
    color: white;
}
/* end of change password */

/* delete acount strt */
  #bttn48:hover {
    color: red;
    text-decoration: underline;
}
#frm43 {   
    display: none;
    margin-top:20px;
    top: 200px;
    min-height: 300px;
    background-color:white;
    margin-left: 40px;
}

#chng3 {
    background-color: black;
    color: white;
}

#frm43  input {
    width: 60%;
    padding: 10px;
    margin: 0px auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px;
    border: 1px solid black;

  }
  /* fdback design */

#fdback {
    width: auto;;
    height: auto;
    background-color:white;
    border: 1px solid  #cccccc;
    min-height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    margin-top: 20px;

}

  #frm_fdback {
       min-height: 500px;
       /* background-color: aquamarine; */
       margin-left: 50px;
       margin-right: 50px;
       border-radius: 5px;
       margin-top: 25px;
       margin-bottom: 10px;

    
  }

  #frm_fdback label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

  }
  #fdbttn {
      width: 90%;
      border-radius: 5px;
      margin-top: 10px;
      padding: 10px;
  }

  textarea {
      width: 90%;
      border-radius: 5px;
      margin-top: 10px;
    
  }

  #subbttn {
      width: 90%;
      border-radius: 5px;
      margin-top: 10px;
      padding: 10px;
      background-color: black;
      color: white;
      font-size: 20px;
  }


/* end of fdback design */
#a22 {
    position: relative;
}
#mainform2 {
    width: auto;
    height: auto;
    position: fixed;
}



/* start of chat  */

.main-cont22 {
    margin-top: 5px;
    top: 100px;
    width: 1200px;
    margin-left: 50px;

  
}
#menu22 ul li {
    display: inline;
    padding: 20px;
    margin: 5px 10px 5px 10px;
    font: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    font-size: 25px;
    padding-top: 20px;
    
    
    
}

#menu22 ul li:hover {
color: red;
border-radius: 5px;
box-shadow: #1b9c3b;

}

#chat22 {
    width: auto;
    height: auto;
    min-height: 500px;
    min-width: 500px;
    background-color:white;
    border: 1px solid black;
    margin-top: 25px;
}
/* end of the chat  */
